/* This is a CSS comment. Notice that CSS comments are
enclosed by different characters than HTML comments. */

/* CSS allows you to give your page style (colors, shapes, fonts, etc.)
You can apply CSS elements to entire HTML classes.*/
*{
  margin: 15px;
 /* border: 1px solid red;*/
  background-color: aliceblue;
}
.header {
 background: URL(https://png.pngtree.com/thumb_back/fw800/back_pic/00/02/06/21560fdd25a6c68.jpg) no-repeat center;
 background-size: cover;
 height: 100px;
 padding: 20px;
}

.header > .header-txt p{
 position: absolute;
 font-size: 45px;
 color: darkviolet;
}
.about-page {
margin: 20px;

}

.icon1{
 text-align: center;
}

.description {
  padding-top: 30px;
}

.description > .SDC {
 padding-top: 90px;
}
.Icon2 {
 width: 250px;
 height: 250px;
 border-radius: 425px;
 float: left;
 margin: 15px;
 padding: 15px;
}

.Benefits {
 margin: 200px 10px 40px 10px;
 padding-top: 10px;

}

.Benefits > .Benefits_Section {
   padding: 4px;
}

.Benefits > .car-fleet {
 width: 360px;
 height: 280px;
 margin: 20px;
 float: left;
 padding: 10px;

}

.Artificial_Intelligence {
 margin: 40px;
}
